/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  background: rgb(130, 214, 255);
  background: linear-gradient(90deg, rgba(130, 214, 255, 0.9934567577030813) 0%, rgba(178, 242, 255, 0.9934567577030813) 34%, rgba(0, 134, 230, 1) 100%);
  color: beige;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.wrapper {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vh;
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

input {
  margin: 15px 0;
  padding: 15px 40px;
  width: 80%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.input-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
button{
  width: auto;
  padding: 10px 30px;
  border: 1px solid #bbb;
  border-radius: 20px;
  background-color: rgb(5, 177, 250);
	/* background-image: linear-gradient(blue,lightblue); */


	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
}
.first-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
.card{
  background-color: #fff;
  color: black;
  padding: 2vw;
  margin: 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
   /* height: 20vh; */
   width: 50%;
   flex-direction: column;

}
.count-card{
  width: 92%;
}
h4{
  margin: 0;
}
.second-row{
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.error{
 
  color: red;
  
  
}